.highlighted {
	color: #4d4d4c;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #8e908c;
}

.token.punctuation {
	color: #4d4d4c;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #8959a8;
}

.token.function-name {
	color: #4271ae;
}

.token.function {
	color: #4271ae;
}

.token.class-name,
.token.constant,
.token.boolean,
.token.number,
.token.symbol {
	color: #f5871f;
}

.token.property,
.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #8959a8;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #718c00;
}

.token.operator,
.token.entity,
.token.url {
	color: #3e999f;
}

.token.inserted {
	color: green;
}
