<% this.adminPage = 'rejudge'; %>
<% include admin_header %>
<form method="post" class="ui form">
  <button class="ui blue button" name="type" value="reset_count" type="submit">重新计算提交及 AC 数</button>
  <!-- <button name="type" value="reset_size" type="submit">重新计算代码大小</button> -->
</form>
<% include admin_footer %>
