<% this.title = '错误' %>
<% include header %>

<%
if (!(err instanceof ErrorMessage)) {
  err = new ErrorMessage(err.toString());
}
%>
<div class="ui negative icon message">
  <i class="remove icon"></i>
  <div class="content">
    <div class="header" style="margin-bottom: 10px; ">
      <%= err.message %>
    </div>
    <% if (err.details) { %>
      <p><%= err.details %></p>
    <% } %>
    <p>
      <% for (let text in err.nextUrls) { %>
        <a href="<%= err.nextUrls[text] %>" style="margin-right: 5px; "><%= text %></a>
      <% } %>
      <a href="javascript:history.go(-1)">返回上一页</a>
    </p>
  </div>
</div>

<% include footer %>
