</div>
    <div class="ui vertical footer segment">
      <div class="ui center aligned container">
        <span style="color: #999;"><%= syzoj.config.title %> Powered by <a href="https://github.com/syzoj/syzoj" target="_blank">SYZOJ</a>.</span>
      </div>
    </div>

<script src="/libs/semantic-ui/semantic.min.js"></script>
<script src="/libs/Chart.js/Chart.bundle.min.js"></script>
<script src="/script.js?20170710"></script>
</body>
</html>
