</div>
    <div class="ui vertical footer segment" style="margin-top: 15px; ">
      <div class="ui center aligned container">
        <span style="color: #999;"><%= syzoj.config.title %> Powered by <a href="https://github.com/Tianpeng2333/wfyzoj" target="_blank">wfyzoj</a> (fork from <a href="https://github.com/syzoj/syzoj" target="_blank">syzoj</a> and add some changes) .</span>
      </div>
    </div>
</div>
<script data-cfasync="false" src="<%- lib('semantic-ui/2.4.1/semantic.min.js') %>"></script>
<script src="<%- lib('Chart.js/2.7.3/Chart.bundle.min.js') %>"></script>
<script src="<%- selfLib('script.js') %>?20170710"></script>
</body>
<script data-cfasync="false">
  //script for the theme shop
  function settheme(themeName){
    $('.wfyzoj-theme').remove()
    if(themeName === "dark-offical"){
      $('head').append('<link rel="stylesheet" class="wfyzoj-theme" href="https://cdn.jsdelivr.net/gh/wfyzoj/themes@master/Dark.min.css" type="text/css">')
    }
  }
  if(localStorage.getItem("theme")===null){
    localStorage.setItem("theme","dark-offical")
  }
  settheme(localStorage.getItem("theme"))
</script>
</html>
