<% this.title = '图床' %>
<% include header %>
<div class="padding">
    <h1>图床</h1>
    <div style="margin-top: 30px;">
        <form id="form_upload" class="ui form" action="<%= syzoj.utils.makeUrl(['picupload','upload']) %>" method="post" enctype="multipart/form-data">
            <label for="pic">
                <div class="ui placeholder segment">
                    <div class="ui icon header">
                    <i class="image icon"></i>
                    点击上传你的图片（可多选）
                    </div>
                </div>
            </label>
            <div style="margin-top: 10px;">
                已选择：<input type="text" id="textfield" class="txt" disabled="disabled">
            </div>
            <div class="ui labeled icon blue button" onclick="$('#form_upload').submit()" style="margin-top: 10px;"><i class="ui edit icon"></i>提交</div>
            <input type="file" multiple id="pic" name="pic" style="display:none" onchange="document.getElementById('textfield').value=gotFileName()">
        </form>
    </div>
</div>
<script>
    function gotFileName(){
        var files = document.getElementById("pic").files;
        if(!files || files.length == 0){
            return "未选择文件";
        }
        
        var fileNameAll = "";
        for(var i = 0; i < files.length; i++){
            fileNameAll += files[i].name + " ; ";
        }
        fileNameAll = fileNameAll.substr(0, fileNameAll.length - 1);
        return fileNameAll;
    }
</script>
<% include footer %>