<%
let items = {
  info: '统计信息',
  register: '用户注册',
  manage: '用户管理',
  other: '其他操作'
};
%>
<% this.title = items[this.receptionPage] + ' - 前台工具'; %>
<% include header %>
<h1 style="text-align: center; margin-bottom: 27px; ">前台工具</h1>
<div class="ui grid">
  <div class="three wide column">
    <div class="ui vertical fluid tabular menu" style="height: 100%; ">
    <% for (let x in items) { %>
      <a class="item<% if (this.receptionPage === x) { %> active<% } %>"<% if (this.receptionPage !== x) { %> href="<%= syzoj.utils.makeUrl(['reception', x]) %>"<% } %>>
        <%= items[x] %>
      </a>
    <% } %>
    </div>
  </div>
  <div class="thirteen wide stretched column">
