<%
let items = {
  info: '统计信息',
  config: '系统配置',
  privilege: '权限管理',
  rejudge: '一键重测',
  links: '友链管理',
  rating: '积分管理',
  raw: '配置文件',
  other: '其他操作'
};
%>
<% this.title = items[this.adminPage] + ' - 后台管理'; %>
<% include header %>
<h1 style="text-align: center; margin-bottom: 27px; ">后台管理</h1>
<div class="ui grid">
  <div class="three wide column">
    <div class="ui vertical fluid tabular menu" style="height: 100%; ">
    <% for (let x in items) { %>
      <a class="item<% if (this.adminPage === x) { %> active<% } %>"<% if (this.adminPage !== x) { %> href="<%= syzoj.utils.makeUrl(['admin', x]) %>"<% } %>>
        <%= items[x] %>
      </a>
    <% } %>
    </div>
  </div>
  <div class="thirteen wide stretched column">
