<% this.title = problem.title + ' - 提交'; %>
<% include header %>
<h1>提交 <%= problem.title %></h1>
<div class="padding">
  <form class="ui form" action="<%= syzoj.utils.makeUrl(['submit', problem.id]) %>" method="post">
    <div class="field">
  	  <label for="doc-select-1">选择语言</label>
	    <select class="ui fluid dropdown" id="doc-select-1" name="language">
        <% for (lang in syzoj.config.languages) { %>
            <option value="<%= lang %>"><%= syzoj.config.languages[lang].show %></option>
        <% } %>
	  	</select>
    </div>
	  <div class="field">
		  <label>代码</label>
          <textarea rows="15" name="code" style="font-family: 'Roboto Mono', 'Bitstream Vera Sans Mono', 'Menlo', 'Consolas', 'Lucida Console', monospace; "></textarea>
		</div>
		<button type="submit" class="ui button">提交</button>
	</form>
</div>
<script>
$(function () {
    $('.ui.dropdown').dropdown();
});
</script>
<% include footer %>
