<% this.title = '提交记录 #' + judge.id %>
<% include header %>
<script src="https://cdn.staticfile.org/textfit/2.3.1/textFit.min.js"></script>
<span id="submission_content"><% include submission_content %></span>
<% include footer %>
